apiVersion: v1
kind: Service
metadata:
  name: {{ include "rate-your-mate.fullname" . }}-frontend
  labels:
    {{- include "rate-your-mate.frontendLabels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "rate-your-mate.frontendSelectorLabels" . | nindent 4 }}
