apiVersion: v1
kind: Service
metadata:
  name: {{ include "lan-party-manager.fullname" . }}-frontend
  labels:
    {{- include "lan-party-manager.frontendLabels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "lan-party-manager.frontendSelectorLabels" . | nindent 4 }}
